<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhUzBPvrw16UyzsJ8mjCEhTetu-owNBiY</string>
	<key>GCM_SENDER_ID</key>
	<string>464538757610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eMart.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecommerceapp-c165a</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerceapp-c165a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464538757610:ios:db93f6586669c9c1d9aa93</string>
</dict>
</plist>